mariadb
/app/node_modules
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/.idea
/app/.vagrant
/appHomestead.json
/appHomestead.yaml
/appnpm-debug.log
/appyarn-error.log
/app.env